root = true

# noinspection EditorConfigKeyCorrectness
[*]
indent_style = space
charset = utf-8
end_of_line = crlf
trim_trailing_whitespace = true
insert_final_newline = true
indent_size = 4
tab_width = 4

# Microsoft .NET properties
dotnet_naming_rule.private_constants_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_constants_rule.severity = warning
dotnet_naming_rule.private_constants_rule.style = upper_camel_case_style
dotnet_naming_rule.private_constants_rule.symbols = private_constants_symbols
dotnet_naming_rule.private_instance_fields_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_instance_fields_rule.severity = warning
dotnet_naming_rule.private_instance_fields_rule.style = lower_camel_case_style
dotnet_naming_rule.private_instance_fields_rule.symbols = private_instance_fields_symbols
dotnet_naming_rule.private_static_fields_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_static_fields_rule.severity = warning
dotnet_naming_rule.private_static_fields_rule.style = lower_camel_case_style
dotnet_naming_rule.private_static_fields_rule.symbols = private_static_fields_symbols
dotnet_naming_rule.private_static_readonly_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_static_readonly_rule.severity = warning
dotnet_naming_rule.private_static_readonly_rule.style = upper_camel_case_style
dotnet_naming_rule.private_static_readonly_rule.symbols = private_static_readonly_symbols
dotnet_naming_style.lower_camel_case_style.capitalization = camel_case
dotnet_naming_style.upper_camel_case_style.capitalization = pascal_case
dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds = field
dotnet_naming_symbols.private_constants_symbols.required_modifiers = const
dotnet_naming_symbols.private_instance_fields_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_instance_fields_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_fields_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_static_fields_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_fields_symbols.required_modifiers = static
dotnet_naming_symbols.private_static_readonly_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_static_readonly_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_readonly_symbols.required_modifiers = static,readonly

csharp_new_line_before_members_in_object_initializers = false
csharp_preferred_modifier_order = public, private, protected, internal, new, static, abstract, virtual, sealed, readonly, override, extern, unsafe, volatile, async:suggestion
csharp_style_var_elsewhere = false:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:suggestion
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:suggestion
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary:suggestion
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion
dotnet_style_qualification_for_event = true:warning
dotnet_style_qualification_for_field = true:warning
dotnet_style_qualification_for_method = true:warning
dotnet_style_qualification_for_property = true:warning
dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion

# ReSharper properties
resharper_autodetect_indent_settings = true
resharper_blank_lines_around_single_line_auto_property = 1
resharper_blank_lines_around_single_line_property = 1
resharper_blank_lines_before_single_line_comment = 1
resharper_braces_for_for = required
resharper_braces_for_foreach = required
resharper_braces_for_ifelse = required
resharper_braces_for_while = required
resharper_csharp_blank_lines_around_single_line_invocable = 1
resharper_csharp_keep_blank_lines_in_code = 1
resharper_csharp_keep_blank_lines_in_declarations = 1
resharper_csharp_wrap_after_declaration_lpar = true
resharper_csharp_wrap_parameters_style = chop_if_long
resharper_for_built_in_types = use_var_when_evident
resharper_for_other_types = use_var_when_evident
resharper_for_simple_types = use_var
resharper_object_creation_when_type_not_evident = target_typed
resharper_parentheses_redundancy_style = remove_if_not_clarifies_precedence
resharper_parentheses_non_obvious_operations = bitwise, shift, arithmetic
resharper_place_accessorholder_attribute_on_same_line = false
resharper_place_field_attribute_on_same_line = false
resharper_trailing_comma_in_multiline_lists = true
resharper_use_indent_from_vs = false

# ReSharper inspection severities
resharper_arrange_redundant_parentheses_highlighting = hint
resharper_arrange_type_member_modifiers_highlighting = hint
resharper_arrange_type_modifiers_highlighting = hint
resharper_async_void_lambda_highlighting = suggestion
resharper_built_in_type_reference_style_for_member_access_highlighting = hint
resharper_built_in_type_reference_style_highlighting = hint
resharper_redundant_base_qualifier_highlighting = warning
resharper_redundant_empty_object_creation_argument_list_highlighting = suggestion
resharper_suggest_var_or_type_built_in_types_highlighting = hint
resharper_web_config_module_not_resolved_highlighting = warning
resharper_web_config_type_not_resolved_highlighting = warning
resharper_web_config_wrong_module_highlighting = warning

[*.pubxml]
indent_size = 2

[*.csproj]
ij_xml_space_inside_empty_tag = true

# noinspection EditorConfigKeyCorrectness
[*.cs]
max_line_length = 160
resharper_wrap_lines = false

dotnet_diagnostic.rs2008.severity = none # Ignore analyzer release tracking
dotnet_diagnostic.sa0001.severity = none # Ignore disabled xml documentation
dotnet_diagnostic.sa1000.severity = none # Ignore missing space after "new"
dotnet_diagnostic.sa1009.severity = none # Ignore missing space after closing parenthesis
dotnet_diagnostic.sa1100.severity = none # Ignore base. prefix if there is no local override
dotnet_diagnostic.sa1101.severity = warning # Ignore missing this prefix for local calls
dotnet_diagnostic.sa1122.severity = none # Don't force the use of string.Empty
dotnet_diagnostic.sa1124.severity = none # Allow the use of regions
dotnet_diagnostic.sa1127.severity = none # Generic constraints may share a line with other declarations
dotnet_diagnostic.sa1135.severity = none # Allow the use of not qualified using directives
dotnet_diagnostic.sa1136.severity = none # Enum values may be on the same line
dotnet_diagnostic.sa1202.severity = none # Ignore element order by access
dotnet_diagnostic.sa1314.severity = none # Allow any type parameter names
dotnet_diagnostic.sa1316.severity = none # Ignore casing of tuple names
dotnet_diagnostic.sa1400.severity = none # Access modifier is optional
dotnet_diagnostic.sa1402.severity = none # Files may contain multiple types
dotnet_diagnostic.sa1414.severity = none # Tuples in return types don't need element names
dotnet_diagnostic.sa1600.severity = none # Elements don't have to be documented
dotnet_diagnostic.sa1601.severity = none # Elements don't have to be documented
dotnet_diagnostic.sa1602.severity = none # Enums don't have to be documented
dotnet_diagnostic.sa1608.severity = none # Default summary in docs is allowed
dotnet_diagnostic.sa1615.severity = none # Ignore missing return value doc due to Task causing false-positives for async methods
dotnet_diagnostic.sa1625.severity = none # Copy-paste documentation is allowed
dotnet_diagnostic.sa1633.severity = none # File does not need a header
dotnet_diagnostic.sa1634.severity = none # No header copyright
dotnet_diagnostic.sa1635.severity = none # No header copyright text
dotnet_diagnostic.sa1636.severity = none # No header copyright text match check
dotnet_diagnostic.sa1637.severity = none # No filename in header
dotnet_diagnostic.sa1638.severity = none # No filename in header matching real filename
dotnet_diagnostic.sa1640.severity = none # No company text in header
dotnet_diagnostic.sa1641.severity = none # Company text does not have to match
dotnet_diagnostic.sa1642.severity = none # Constructor summary can have any text
dotnet_diagnostic.sa1643.severity = none # Destructor summary can have any text
dotnet_diagnostic.sa1648.severity = none # Inherit doc can be used wherever you want

dotnet_diagnostic.CA1848.severity = none # Ignore logger message performance
dotnet_diagnostic.CA1304.severity = suggestion # Specify cultureInfo
dotnet_diagnostic.CA1309.severity = suggestion # Use ordinal StringComparison
dotnet_diagnostic.CA1311.severity = suggestion # Specify a culture or use an invariant version
dotnet_diagnostic.CA1822.severity = suggestion # Mark member as static

[*.axaml]
max_line_length = 160

[*.{yaml,yml,json,props,targets,xml,resx}]
indent_size = 2
tab_width = 2
