.idea/
.vscode/
.vs/

bin/
obj/

releases/
Tools/*.log

*.user

WoWsShipBuilder.Desktop/Infrastructure/StaticConfiguration/*_ApplicationOptions.json
buildInfo.txt

*/wwwroot/lib/
deployment/local/.env
appsettings.local.json
/.sonarqube/
/.sonar/

TestResults/