@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Mvc.TagHelpers
@namespace WoWsShipBuilder.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>WoWs ShipBuilder</title>
    <base href="/"/>

    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet"/>

    <link href="css/app.css" rel="stylesheet"/>
    <link href="css/fonts.css" rel="stylesheet"/>
    
    <meta content="WoWs ShipBuilder" property="og:title">
    <meta content="Detailed ship's stats.
Advanced ballistc charts.
Custom builds." property="og:description">
    <meta content="/assets/app-logo.png" property="og:image">
    <meta name="theme-color" content="#FFFFFF">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="alternate" type="application/json+oembed" href="/oembed.json" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body style="background-color: #282828">
@RenderBody()

<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<script src="_framework/blazor.server.js"></script>
<script src="_content/MudBlazor/MudBlazor.min.js"></script>
<script src="/lib/chartJs/dist/chart.min.js"></script>
<script src="/lib/autocolor/dist/chartjs-plugin-autocolors.min.js"></script>
</body>
</html>