@page "/admin"
@using WoWsShipBuilder.Web.Authentication
@using System.Security.Claims

<MudText Class="ma-2" Align="Align.Center" Typo="Typo.h4">Administration page</MudText>

<div class="d-flex align-center flex-column">
    @if (authorized)
    {
        <MudStack Class="mt-2">
            <MudText>@($"status: {status}")</MudText>
            <MudText>@($"account_id: {accountId}")</MudText>
            <MudText>@($"access_token: {accessToken}")</MudText>
        </MudStack>
    }
    else
    {
        <MudButton Variant="Variant.Outlined">Auth with Wg</MudButton>
    }
</div>

@code {

    private bool authorized = false;

    private string status = string.Empty;

    private string accountId = string.Empty;

    private string accessToken = string.Empty;

    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; } = default!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            var authState = await AuthenticationStateTask;
            if (authState.User.Identity?.IsAuthenticated ?? false)
            {
                accountId = authState.User.FindFirstValue(ClaimTypes.NameIdentifier);
                accessToken = authState.User.FindFirstValue(ClaimTypes.UserData);
                status = string.Join(", ", authState.User.FindAll(ClaimTypes.Role).Select(c => c.Value));
                authorized = authState.User.IsInRole(AuthController.AdminRoleName);
                StateHasChanged();
            }
        }
    }

}