name: Requirement check for merges with main.

on:
  pull_request:
    branches:
      - release/desktop

jobs:
  build-and-release:
    runs-on: windows-latest
    name: Release build and version check

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          global-json-file: global.json
      - name: Build application
        run: dotnet build -c ReleaseTest
      - name: Test application
        run: dotnet test --no-build -c ReleaseTest --verbosity normal
