server {
    listen       80;
    listen  [::]:80;
    server_name  localhost;

    location / {
        root   /usr/share/nginx/html;
        try_files $uri $uri/ /index.html =404;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    include snippets/ssl-config.conf;

    server_name localhost;
    gzip_static always;
    gzip_proxied expired no-cache no-store private auth;
    gunzip on;

    location / {
        root   /usr/share/nginx/html;
        try_files $uri $uri/ /index.html =404;
    }
}